<h1 class="text-4xl font-bold mb-6">Manga Analysis</h1>
<p class="text-lg mb-4 text-gray-700">Here is the analysis of all mangas.</p>

<div class="mt-6">
  <% if @manga_analysis.any? %>
    <table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-lg">
      <thead>
        <tr class="bg-gray-200">
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Title</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Number of Comments</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Number of Visits</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Average Rating</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% @manga_analysis.each do |analysis| %>
          <tr>
            <td class="px-6 py-4 whitespace-nowrap">
              <%= link_to analysis[:title], admin_manga_path(@mangas.find_by(title: analysis[:title])), class: "text-blue-600 hover:underline" %>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                <%= analysis[:number_of_comments] %>
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800">
                <%= analysis[:number_of_visits] %>
              </span>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
                <%= sprintf('%.2f', analysis[:average_rating]) %>
              </span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-gray-500">No manga analysis available.</p>
  <% end %>
</div>
